extends layout

block content
  div.container(ng-controller="depCon")
    h1= title

    div(ng-hide="user")
      a(href="/auth/facebook") Facebook でログイン
    div(ng-show="user")
      p Name: {{ user.displayName }}
      a(ng-click="logout()" href="#") Logout

    div.search(ng-show="user")
      form.form-inline
        input.form-control(type="text" ng-model="item" placeholder="Search item name" required)
        button.btn.btn-primary(ng-click="searchItems(item)") Search
    div(ng-show="showLoading")
      p Now Loading...

    // Search Result
    div.contents(ng-hide="showLoading")
      table.table.table-condensed(ng-hide="!searchResult")
        thead
          tr
            th Title
            th ASIN
        tbody
          tr(ng-repeat="content in searchResult" ng-class="{hopin: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" ng-click="clickItem(content)")
            td {{content.Title}}
            td {{content.ASIN}}

    // Inventory
    div.property(ng-show="user && props")
      h3 Inventories
      accordion(close-others="true")
        accordion-group(ng-repeat="prop in props" is-open="status.open") {{ prop.asin }}

          form
            input(type="text" value="hoge")
            input(type="submit" value="Save")
          button.btn.btn-warning(ng-click="deleteItem(prop._id)") Delete
          accordion-heading
            img(ng-src="{{ prop.imageURL }}" width=100 height=150 title="THIS is title")
            p  {{ prop.title }}
            i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}")
    div.tmp
      div(ui-view)
