extends layout

block content
  nav.navbar.navbar-fixed-top
    div.container
      div.navbar-header
        a.navbar-brand(href="#") depot.in
      div.collapse.navbar-collapse(collapse="navbarCollapsed")
        ul.nav.navbar-nav
          li.active
            a(href="#") 見る
          li
            a(href="#") 探す
        form.navbar-form.navbar-right(placeholder="Search")
          div.form-group
            input.form-control(type="text" placeholder="Filter your item")
          button.btn.btn-primary(type="submit") Submit

  div.container(ng-controller="depCon")
    div(ng-hide="user")
      a(href="/auth/facebook") Facebook でログイン
    div(ng-show="user")
      p Name: {{ user.displayName }}
      a(ng-click="logout()" href="#") Logout

    div.search(ng-show="user")
      form.form-inline
        input.form-control(type="text" ng-model="item" placeholder="Search you want" required)
        button.btn.btn-primary(ng-click="searchItems(item)") Search
    div(ng-show="showLoading")
      p Now Loading...

    // Search Result
    div.contents(ng-hide="showLoading")
      table.table.table-condensed(ng-hide="!searchResult")
        thead
          tr
            th Title
            th ASIN
        tbody
          tr(ng-repeat="content in searchResult" ng-class="{hopin: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" ng-click="clickItem(content)")
            td {{content.Title}}
            td {{content.ASIN}}

    // Inventory
    div.property(ng-show="user && props")
      h3 Inventory
      div.prop(ng-repeat="prop in props" is-open="status.open")
        div.item-wrapper
          img(ng-src="{{ prop.imageURL }}" width=100 height=150 ng-attr-title="{{ prop.title }}")
        // p  {{ prop.title }}
        // form
        //   input(type="text" value="hoge")
        //   input(type="submit" value="Save")
        // button.btn.btn-warning(ng-click="deleteItem(prop._id)") Delete

    div.tmp
      div(ui-view)
