extends layout

block content
  nav.navbar.navbar-fixed-top
    div.container
      div.navbar-header
        a.navbar-brand(href="#") depot.in
      div.collapse.navbar-collapse(collapse="navbarCollapsed")
        ul.nav.navbar-nav
          li.active
            a(ui-sref="mypage") 見る
          li
            a(ui-sref="search") 探す
        form.navbar-form.navbar-right(placeholder="Search")
          div.form-group
            input.form-control(type="text" placeholder="Filter your item")
          button.btn.btn-primary(type="submit") Submit

  div.container(ng-controller="depCon")
    div(ng-hide="user")
      a(href="/auth/facebook") Facebook でログイン
      h3 Create your account
      p you want to xxxx. so this is xxxx.
    div(ng-show="user")
      span Name: {{ user.displayName }}
      a(ng-click="logout()" href="#")  Logout

    alert(ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)") {{alert.msg}}

    div(ng-show="user" ui-view)
