doctype html
html(ng-app='dep')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    script(type='text/javascript' src='/angular/angular.js')
    script(type='text/javascript' src='/angular-ui-router/release/angular-ui-router.min.js')
    script(type='text/javascript' src='/angular-bootstrap/ui-bootstrap-tpls.min.js')
    script(type='text/javascript' src='/javascripts/depot.js')
    script(type='text/javascript' src='/angular-xeditable/dist/js/xeditable.js')
  body
    block content
