h3 Search from Amazon

div.search(ng-show="user")
  form.form-inline
    input.form-control(type="text" ng-model="item" placeholder="Search you want" required)
    button.btn.btn-primary(ng-click="searchItems(item)") Search

div.loading(ng-show="showLoading")
  img(src="/images/loading.gif" height="50px")

// Search Result
div.prop(ng-hide="showLoading" ng-repeat="content in searchResult" is-open="status.open")
  div.item-wrapper
    img(ng-src="{{ content.MediumImage }}" width=100 height=150 ng-attr-title="{{ content.Title }}" ng-click="registerItem(content)")
