// Inventory
div.property(ng-show="user && props")
  h3 Inventory
  div.prop(ng-repeat="prop in props" is-open="status.open")
    div.item-wrapper(popover-placement="bottom"
      popover="{{ prop.title }}" popover-trigger="mouseenter")
      img(ng-src="{{ prop.mediumImage }}" width=100 height=150
        ng-attr-title="{{ prop.title }}" ui-sref="detail({id: prop._id})"
        ng-class="{hoverImg: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false")
