body
  padding-top 100px
  padding 50px
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color #00B7FF
nav
  background-color white
a.navbar-brand
  font-size 25px
.hopin
  background-color #dff0d8
.prop
  display inline-block
  padding-left 10px
  padding-right 10px
  height 180px
.container
  max-width 750px
.item-wrapper img
  border 1px rgba(23, 67, 93, 0.75) solid !important
.loading
  padding 10px
.search
  padding-bottom 10px
.hoverImg
  opacity 0.5
